@font-face {
    font-family: "Gilroy SemiBold";
    src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
}